@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color:#2370f4;;
    border: 2px solid red;
    font-family: 'Lato', sans-serif;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
border: 2px solid white;
}
main{
    background-color: white;
    color: black; 
    
}
nav ul{
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
    nav{
        display: flex;
         }
         .logo{
            display: flex;
            align-items: center;
         }
         .logo img{
         width: 88px;
         padding: 0 22px;
         }

nav ul li{
    list-style: none;
    padding: 0 20px;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color:white;
    
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;

}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    
}
.slider{
    
    width: 78vw;
    margin: 12px auto;
    overflow: hidden;
    
}
.cards{
    display: flex;
    justify-content: center;


}
.card{
    max-width: 91vw;
    
  margin: auto;
}
 .card-item{
    display:inline flex;
    justify-content: center;
    flex-direction: column;
    width: 10vw ; 
    margin: 0 30px;
} 

.contaner{
    min-height: calc(100vh - 58px - 12vh);

}
footer{
    height: 10vh;
    background-color:#2370f4;;
    color: white;
    font-family: 'Lato', sans-serif;
}
